{% set theme_config = attribute(config.themes, config.system.pages.theme) %}

<!DOCTYPE html>

<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
  <head>
    {% block head %}
      <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
      <meta charset="UTF-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      {% include 'partials/metadata.html.twig' %}

      <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />

      <!-- Bootstrap -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

      {% block stylesheets %}
        {% do assets.addCss('theme://css/custom.css', 100) %}
      {% endblock %}
      {{ assets.css() }}

      {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
      {% endblock %}
      {{ assets.js() }}

    {% endblock %}
  </head>
  <body>
    {% block header %}
      {% block header_navigation %}
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark py-3">
              <a class="navbar-brand" href="{{ home.url }}"> VICE & Speakeasy</a>
            {% include 'partials/navigation.html.twig' %}
        </nav>
      {% endblock %}
    {% endblock %}

    {% block body %}
    <div class="container-fluid pr-0 pl-0">
      {% block content %} {% endblock %}
    </div>
    {% endblock %}

    {% block footer %}
    <div class="container-fluid footer">
      <div class="container text-center">
        <div class="row pt-4">
          <div class="col-sm-6">
            <h3> VICE </h3>
            <p> <strong>Location:</strong> AMS Nest 3107, UBC <br>
                <strong>Office Hours:</strong> Tue,Thu: 13:30 - 15:30 <br> or by Appointment <br>
                <strong>Email:</strong> vice@ams.ubc.ca <br>
                <strong>Phone Number:</strong> 604-827-1728
            </p>
          </div>
          <div class="col-sm-6">
            <h3> Speakeasy </h3>
            <p> <strong>Location:</strong> AMS Nest 3107, UBC <br>
                <strong>Office Hours:</strong> Mon-Fri: 11:00 - 19:00 <br> or by Appointment <br>
                <strong>Email:</strong> speak@ams.ubc.ca <br>
                <strong>Phone Number:</strong> 604-822-9246
            </p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-12">
            <p> Copyright &copy; 2018 VICE and Speakeasy. All Rights Reserved. Website By <a id="ctc" href="https://codethechangeubc.org/" target="_blank"> Code the Change UBC </a> </p>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
